@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@font-face {
  font-family: "AkzidenzGroteskBQ-BdCnd";
  src: url("../fonts/AkzidenzGrotesk-BoldCondAlt.eot");
  src: local("☺"), url("../fonts/AkzidenzGrotesk-BoldCondAlt.woff") format("woff"), url("../fonts/AkzidenzGrotesk-BoldCondAlt.ttf") format("truetype"), url("../fonts/AkzidenzGrotesk-BoldCondAlt.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue Regular.eot");
  src: local("☺"), url("../fonts/BebasNeue Regular.woff") format("woff"), url("../fonts/BebasNeue Regular.ttf") format("truetype"), url("../fonts/BebasNeue Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTS55F.eot");
  src: local("☺"), url("../fonts/PTS55F.woff") format("woff"), url("../fonts/PTS55F.ttf") format("truetype"), url("../fonts/PTS55F.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "AkzidenzGroteskBQ-BdCnd"; }
  body.lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 899px;
  margin: 0 auto;
  padding: 0 15px; }

.content {
  margin: 155px 0 0 0; }
  @media (max-width: 950px) {
    .content {
      margin: 80px 0 0 0; } }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg img {
    display: none; }

.header {
  position: fixed;
  z-index: 3;
  width: 100%; }
  .header:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff; }
  .header__wrapper {
    padding: 26px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__main {
    width: 100%; }

.top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .top__burger {
    display: none; }
  .top__column {
    position: relative;
    z-index: 2; }
  .top__text {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0 7.5px; }
    .top__text:first-child {
      margin: 0 7.5px 0 0; }
    .top__text:last-child {
      margin: 0 0 0 7.5px; }
    .top__text p {
      position: relative;
      z-index: 2;
      font-family: Bebas;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #000;
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    .top__text span {
      position: absolute;
      display: block;
      height: 20px;
      width: 140%;
      top: -4px;
      left: -20%;
      background-color: #000;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    .top__text:hover p {
      color: #fff; }
    .top__text:hover span {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .top__link {
    position: relative;
    font-family: AkzidenzGroteskBQ-BdCnd;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000; }
    .top__link:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    .top__link:hover:after {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }

.bottom {
  position: relative;
  z-index: 2; }
  .bottom__burger {
    display: none; }
  .bottom__menu {
    height: 89px; }
  .bottom__links {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom__link {
    position: relative;
    white-space: nowrap;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0 23.5px; }
    .bottom__link:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1.5px;
      bottom: -2px;
      left: 0;
      background-color: #000;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    .bottom__link:hover:after {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .bottom__link:first-child(1) {
      margin: 0 23.5px 0 0; }
    .bottom__link:last-child(1) {
      margin: 0 0 0 23.5px; }
    .bottom__link:nth-child(3) {
      margin: 0 169.5px 0 23.5px; }
    .bottom__link:nth-child(4) {
      margin: 0 23.5px 0 169.5px; }
    .bottom__link a {
      color: #000000; }

.logo {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .logo__wrap {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 212px;
    flex: 0 1 212px; }
  .logo__before {
    max-width: 100%;
    text-align: center;
    margin: 0 0 14px 0;
    font-family: Bebas;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1em;
    color: #000000; }
  .logo__image {
    max-width: 100%; }
    .logo__image img {
      max-width: 100%; }
  .logo__after {
    max-width: 100%;
    text-align: center;
    margin: 23px 0 0 0;
    font-family: Bebas;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1em;
    color: #000000; }

@media (max-width: 950px) {
  .header:before {
    z-index: 3;
    height: 80px; }
  .header__wrapper {
    padding: 7px 0; }
  .top {
    height: 50px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right; }
    .top__column {
      z-index: 4; }
      .top__column_fir {
        padding: 12px 0 0 0; }
    .top__burger {
      display: block;
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 0;
      width: 30px;
      height: 30px; }
      .top__burger:before {
        content: "";
        position: absolute;
        z-index: 6;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .top__burger span {
        content: "";
        position: absolute;
        z-index: 6;
        top: 8px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .top__burger:after {
        content: "";
        position: absolute;
        top: 16px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .top__burger.active:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 8px;
      height: 1.5px; }
    .top__burger.active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      height: 1.5px; }
    .top__burger.active:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 8px;
      height: 1.5px; }
  .bottom__menu {
    overflow: auto;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    height: 100%;
    width: 100%;
    background-color: #000;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
  .bottom__menu.active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .bottom__links {
    margin: 20px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .bottom__link {
    margin: 20px 0 !important;
    font-size: 30px; }
    .bottom__link:first-child {
      margin: 0 0 20px 0; }
    .bottom__link:last-child {
      margin: 20px 0 0 0; }
    .bottom__link a {
      color: #fff; }
  .logo {
    z-index: 4; }
    .logo__before {
      margin: 0 0 3px 0; }
    .logo__wrap {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 130px;
      flex: 0 1 130px; }
    .logo__after {
      margin: 10px 0 0 0; } }

@media (max-width: 500px) {
  .header__wrapper {
    padding: 13px 0; }
  .top__burger {
    top: 45%; }
  .top__column_fir {
    padding: 10px 0 0 0; }
  .top__column_ord {
    padding: 0 0 6px 0; }
  .top__text {
    margin: 0 5px; }
    .top__text:first-child {
      margin: 0 5px 0 0; }
    .top__text:last-child {
      margin: 0 0 0 5px; }
    .top__text p {
      font-size: 12px; }
  .top__link {
    font-size: 12px; }
  .logo__wrap {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 110px;
    flex: 0 1 110px; }
  .logo__before, .logo__after {
    font-size: 8px; } }

.private__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.private__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%; }
  .private__column_sec {
    background-color: #000; }

.private__image {
  background: url(../img/private/01.png) center no-repeat;
  background-size: cover;
  padding: 0 0 425px 0; }

.private__body {
  padding: 62px 0 0 52px;
  margin: 0 10px;
  max-width: 380px; }

.private__title {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff; }

.private__subtitle {
  margin: 32px 0 0 0;
  font-family: PTSans;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff; }

.private__button {
  margin: 50px 0 0 0; }

.private__link {
  margin: 0 0 0 14px; }

@media (max-width: 800px) {
  .private__body {
    padding: 62px 0 0 22px; }
  .private__title {
    font-size: 40px;
    max-width: 100px;
    line-height: 45px; } }

@media (max-width: 650px) {
  .private__button {
    width: 100px;
    height: 40px; }
    .private__button p {
      padding: 13px 0; }
  .private__link {
    margin: 0 0 0 10px; } }

@media (max-width: 560px) {
  .private__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .private__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
  .private__image {
    padding: 0 0 200px 0; }
  .private__body {
    padding: 30px 0 30px 0;
    max-width: 100%;
    text-align: center; }
  .private__title {
    max-width: 100%; }
  .private__subtitle {
    max-width: 300px;
    margin: 42px auto 0 auto; } }

@media (max-width: 350px) {
  .private__title {
    font-size: 32px; }
  .private__subtitle {
    margin: 22px auto 0 auto; }
  .private__button {
    margin: 30px 0 0 0; } }

.btn {
  display: inline-block;
  position: relative;
  width: 155px;
  height: 50px;
  background-color: #fff;
  text-align: center; }
  .btn p {
    position: relative;
    z-index: 2;
    padding: 16px 0;
    font-family: Bebas;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
  .btn span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    opacity: 0.9; }
  .btn:hover p {
    color: #fff; }
  .btn:hover span {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .btn_bl {
    background-color: #000; }
    .btn_bl p {
      color: #fff; }
    .btn_bl span {
      background-color: #fff; }
    .btn_bl:hover p {
      color: #000; }
  @media (max-width: 650px) {
    .btn {
      width: 100px;
      height: 40px; }
      .btn p {
        padding: 13px 0; } }
  @media (max-width: 350px) {
    .btn {
      margin: 30px 0 0 0; } }

.link {
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fffffe;
  position: relative; }
  .link:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
  .link:hover:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .link_bl {
    color: #000; }
    .link_bl:after {
      background-color: #000; }

.menu {
  padding: 55px 0 75px 0; }
  .menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .menu__column {
    padding: 20px 0 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%; }
  .menu__item {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .menu__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .menu__picture {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 220px;
    flex: 0 1 220px; }
    .menu__picture img {
      max-width: 100%; }
  .menu__body {
    height: 100%;
    margin: 25px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .menu__title {
    width: 120px;
    font-family: AkzidenzGroteskBQ-BdCnd;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000; }
  .menu__subtitle {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 185px;
    margin: 20px 0 0 0;
    font-family: PTSans;
    font-size: 15px;
    line-height: 25px;
    color: #000000; }
  .menu__button {
    margin: 28px 0 0 0; }
  .menu__link {
    width: 83.2px;
    margin: 28px 0 0 0; }
  @media (max-width: 950px) {
    .menu {
      padding: 30px 0 50px 0; }
      .menu__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%; }
      .menu__item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .menu__title {
        text-align: center;
        line-height: 30px; }
      .menu__subtitle {
        text-align: center; }
      .menu__body {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  @media (max-width: 500px) {
    .menu {
      padding: 10px 0 30px 0; }
      .menu__body {
        margin: 15px 0 0 0; }
      .menu__title {
        font-size: 22px;
        line-height: 25px; }
      .menu__subtitle {
        margin: 10px 0 0 0;
        font-size: 14px;
        line-height: 23px; }
      .menu__button {
        margin: 15px 0 0 0; }
      .menu__link {
        margin: 20px 0 0 0; } }

.slick-list {
  position: relative;
  width: 100%;
  overflow: hidden; }

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.slick-slide {
  width: 100%;
  overflow: hidden;
  position: relative; }

.slick-dots {
  margin: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 650px) {
    .slick-dots {
      margin: 25px 0 0 0; } }

.slick-dots li {
  margin: 0 7px; }

.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1.5px solid #000; }

.slick-dots li.slick-active button {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #000;
  border: 0.1px solid #fff; }

.choose {
  background-color: #ebebeb; }
  .choose__wrapper {
    padding: 0 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .choose__column {
    margin: 50px 0 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  .choose__item {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .choose__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 100px;
    height: 100px;
    background-color: #000; }
  .choose__body {
    margin: 0 0 0 12px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .choose__label {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-family: AkzidenzGroteskBQ-BdCnd;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000; }
  .choose__subtitle {
    max-width: 288px;
    font-family: PTSans;
    font-size: 15px;
    line-height: 25px;
    color: #000000; }
  @media (max-width: 880px) {
    .choose__wrapper {
      padding: 0 0 30px 0; }
    .choose__column {
      margin: 30px 0 0 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
    .choose__item {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 450px) {
    .choose__wrapper {
      padding: 0 0 15px 0; }
    .choose__item {
      display: block;
      height: auto;
      text-align: center; }
    .choose__image {
      max-width: 100px;
      margin: 0 auto; }
    .choose__body {
      margin: 15px 0 0 0;
      text-align: center; }
    .choose__label {
      line-height: 25px;
      font-size: 22px; }
    .choose__subtitle {
      margin: 5px auto 5px auto; } }

.title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%; }
  .title__column_1 {
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .title__column img {
    width: 100%; }

.title__text {
  margin: 0 60px 0 0;
  font-family: AkzidenzGroteskBQ-BdCnd;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff; }

@media (max-width: 1000px) {
  .title__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .title__column_1 {
    min-height: 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .title__text {
    margin: 0; } }

@media (max-width: 450px) {
  .title__column_1 {
    min-height: 70px; }
  .title__text {
    font-size: 35px; } }

.hello {
  padding: 82px 0 0 0; }
  .hello__title {
    font-family: AkzidenzGroteskBQ-BdCnd;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000; }
  .hello__wrapper {
    margin: 35px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .hello__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  .hello__adress {
    padding: 7px 0 7px 30px;
    background: url(../img/hello/01.png) no-repeat left;
    font-family: PTSans;
    font-size: 15px;
    color: #000000;
    margin: 0 0 23px 0; }
  .hello__phone {
    position: relative;
    padding: 3px 0 3px 30px;
    background: url(../img/hello/02.png) no-repeat left;
    font-family: PTSans;
    font-size: 15px;
    color: #000000; }
    .hello__phone:after {
      content: "";
      position: absolute;
      bottom: 0px;
      right: 0;
      width: 80%;
      height: 1px;
      background-color: #000;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    .hello__phone:hover:after {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .hello__message {
    position: relative;
    padding: 0 0 0 36px;
    background: url(../img/hello/03.png) no-repeat left;
    font-family: PTSans;
    font-size: 15px;
    color: #000000; }
    .hello__message:after {
      content: "";
      position: absolute;
      bottom: -2px;
      right: 0;
      width: 81%;
      height: 1px;
      background-color: #000;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    .hello__message:hover:after {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .hello__links {
    margin: 25px 0 0 0; }
  .hello__link {
    margin: 0 15px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .hello__link:first-child {
      margin: 0 15px 0 0; }
    .hello__link:last-child {
      margin: 0 0 0 15px; }
    .hello__link:hover {
      opacity: 0.5; }
  @media (max-width: 980px) {
    .hello {
      padding: 50px 0 0 0; }
      .hello__title {
        text-align: center; }
      .hello__column_2 {
        text-align: right; } }
  @media (max-width: 600px) {
    .hello__adress {
      max-width: 210px;
      line-height: 20px;
      margin: 0 0 10px 0; }
    .hello__links {
      margin: 32px 0 0 0; }
    .hello__link {
      margin: 0 8px; }
      .hello__link:first-child {
        margin: 0 8px 0 0; }
      .hello__link:last-child {
        margin: 0 0 0 8px; } }
  @media (max-width: 470px) {
    .hello {
      padding: 30px 0 0 0; }
      .hello__wrapper {
        margin: 25px 0 0 0;
        display: block; }
      .hello__column {
        text-align: center; }
        .hello__column_2 {
          margin: 34px 0 0 0; }
      .hello__title {
        font-size: 35px; }
      .hello__adress {
        margin: 0 auto 15px auto; } }

.body {
  margin: 28px 0 0 0; }
  .body__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .body__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    .body__column_2 {
      background-color: #000; }
  .body__map {
    height: 100%; }
  .body__item {
    padding: 55px 0 55px 60px; }
  .body__title {
    font-family: AkzidenzGroteskBQ-BdCnd;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff; }
  .body__form {
    margin: 28px 0 0 0; }
  .body__name {
    padding: 0 0 0 18px;
    font-family: PTSans;
    font-size: 15px;
    width: 374px;
    height: 48px;
    background-color: #252525;
    border: 2px solid #959595;
    color: #959595; }
  .body__mail {
    margin: 25px 0;
    display: block;
    padding: 0 0 0 18px;
    font-family: PTSans;
    font-size: 15px;
    width: 374px;
    height: 48px;
    background-color: #252525;
    border: 2px solid #959595;
    color: #959595; }
  .body__textarea {
    display: block;
    padding: 10px 0 0 18px;
    font-family: PTSans;
    font-size: 15px;
    width: 374px;
    height: 100px;
    background-color: #252525;
    border: 2px solid #959595;
    color: #959595; }
  .body__button {
    margin: 25px 0 0 0; }
  @media (max-width: 980px) {
    .body__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .body__column_1 {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .body__column_2 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .body__item {
      text-align: center;
      padding: 55px 0; }
    .body__mail {
      margin: 25px auto 25px auto; }
    .body__textarea {
      margin: 0 auto; }
    .body__map {
      height: 200px; } }
  @media (max-width: 460px) {
    .body__item {
      padding: 30px 0; }
    .body__name {
      width: 250px; }
    .body__mail {
      width: 250px; }
    .body__textarea {
      width: 250px; } }

.footer {
  padding: 44px 0; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    .footer__column_2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
  .footer__text {
    display: inline;
    font-family: PTSans;
    font-size: 15px;
    color: #4d4d4d; }
  .footer__link {
    position: relative;
    display: inline-block;
    font-family: PTSans;
    font-size: 15px;
    color: #4d4d4d; }
    .footer__link:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.5px;
      width: 100%;
      height: 1px;
      background-color: #4d4d4d;
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .footer__link:hover:after {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
  .footer__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 156px;
    flex: 0 1 156px;
    text-align: right; }
    .footer__image img {
      max-width: 100%; }
  @media (max-width: 650px) {
    .footer {
      padding: 20px 0 10px 0; }
      .footer__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .footer__column {
        margin: 10px 0; }
        .footer__column_1 {
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2;
          text-align: center; }
        .footer__column_2 {
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
      .footer__image {
        text-align: center; } }
  @media (max-width: 370px) {
    .footer__text {
      display: block;
      margin: 0 0 5px 0; } }
